<section id="author-info">
  <h1><%= @author.name %></h1>
</section>


<% @author.books.each do |book| %>
  <section id="abook-<%= book.id %>">
    <h3><%= book.title %></h3>
    <p>Page Count: <%= book.pages %></p>
    <p>Publishing Year: <%= book.pub_date %></p>
    <% if book.co_authors(@author).count > 0 %>
      <p>Co-Authors: <% book.co_authors(@author).each do |author| %><%= author.name %>
                    <% end %>
      </p>
    <% end %>

    <% unless book.reviews.count == 0 %>
      <section id="top-review">
        <p>Top Review: <%= book.top_review.title %></p>
        <p>Rating: <%= book.top_review.rating %></p>
        <p><%= book.top_review.user_name%> says: <%= book.top_review.content %></p>
      </section>
    <% end %>
  </section>
<% end %>
