<h1>All Books</h1>

<% @books.each do |book| %>
  <section class="book" id="book-<%= book.id %>">
    <img class="book_cover" src="<%= book.book_cover_photo %>" alt="<%= book.book_cover_photo %>" alt="Book Cover Photo" width="200">
    <ul>
    <li><%= book.title %></li>
    <li>Author(s):
    <%= book.authors.map { |author| author.name }.join(", ") %></li>
    <li>Pages: <%= book.pages %></li>
    <li>Publication Date: <%= book.pub_date %></li>
    </ul>
<% end %>