<h1>Our Club Selection</h1>

<section id="sorting">
  <%= link_to "Sort by page count (ascending)", books_sort_path("pages", :asc) %>
</section>

<section class="new_book">
  <nav>
    <%= link_to "Add a new book", new_book_path %>
  <nav>
</section>

<section class="stats" id="book_stats">
  <h3>Statistics</h3>
    <section id="best_three">
      <h4>Highest-Rated Books:</h4>
        <ul>
          <% @top_three.each do |book| %>
            <li><%= link_to book.title, book_path(book) %>, Rating: <%= book.average_rating %></li>
          <% end %>
        </ul>
    </section>

    <section id="worst_three">
      <h4>Worst-Rated Books:</h4>
        <ul>
          <% @bottom_three.each do |book| %>
            <li><%= link_to book.title, book_path(book) %>, Rating: <%= book.average_rating %></li>
          <% end %>
        </ul>
    </section>

    <section id="most_reviews">
      <h4>Users With The Most Reviews:</h4>
      <ul>
        <% @most_reviews.each do |user| %>
          <li><%= link_to user.user_name, user_show_path(user.user_name) %>
          has written <%= Review.reviews_by_name(user.user_name) %> reviews</li>
        <% end %>
      </ul>
    </section>
</section>

<ul id="books">
  <h3>Books</h3>
  <% @books.each do |book| %>
    <li class="book" id="book-<%= book.id %>">
      <img class="book_cover" src="<%= book.book_cover_photo %>" alt="<%= book.book_cover_photo %>" alt="Book Cover Photo" width="200">
      <ul>
      <li><%= link_to book.title, book_path(book) %></li>
      <li>Author(s):</li>
      <% book.authors.each do |author| %> <li><%= link_to author.name, author_path(author) %></li>
      <% end %>
      <li>Pages: <%= book.pages %></li>
      <li>Publication Year: <%= book.pub_date %></li>
      <li>Average Rating: <%= book.average_rating.round(1) %></li>
      <li>Total No. of Reviews: <%= book.total_reviews %></li>
      </ul>
    </li>
  <% end %>
</ul>
