<h3>Add a New Book</b></h3>
<%= form_for @book do |f| %>
  <%= render :partial => "error_message", locals: {object: @book} %>
  <p>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %><br>

    <%= f.label :authors, "Authors" %>
    <%= f.text_field :authors, value: "" %><br>

    <%= f.label :pages, "Pages" %>
    <%= f.number_field :pages %><br>

    <%= f.label :pub_date, "Publication Date" %>
    <%= f.number_field :pub_date %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
