<section class="book-show">
<section class="book" id="book-<%= @book.id %>"><br>
  <h1 class="book-title"><%= @book.title %></h1><br>

  <img src="<%= @book.book_cover_photo %>" alt="Book Cover Photo", width="200">
  <ul>
  <li>Author(s):
    <% @book.authors.each do |author| %>
      <%= link_to author.name, author_path(author) %></li>
    <% end %>
  <li>Pages: <%= @book.pages %></li>
  <li>Publication Year: <%= @book.pub_date %></li><br><br>
  </ul>
  <p><%= link_to "Delete this book", delete_book_path(@book), method: :delete, data: { confirm: "Are you sure?" }%></p><br>
  <p><%= link_to "Write a new review for this book", new_book_review_path(@book) %></p><br><br>
</section>

<% unless @book.reviews.empty? %>
    <p class="book">Average Rating: <%= @average_rating.round(1) %></p><br>
  <% end %>
<section class="review_stats" id="review_stats">
    <ul>
      <p>Top 3 Reviews:</p><br>
      <% @top_reviews.each do |review| %>
        <li><%= review.title %></li>
        <li>Rating: <%= review.rating %></li>
        <li>User: <%= review.user_name %></li><br>
      <% end %>
    </ul><br>
     <ul>
      <p>Bottom 3 Reviews:</p><br>
      <% @bottom_reviews.each do |review| %>
        <li><%= review.title %></li>
        <li>Rating: <%= review.rating %></li>
        <li>User: <%= review.user_name %></li><br>
      <% end %>
    </ul>
</section><br>

<h3 class="book">All Reviews</h3><br>
<section class="book-reviews">
  <% @book.reviews.each do |review| %>
    <section class="reviews" id="review-<%= review.id %>">
      <p>User: <%= link_to review.user_name, user_show_path(review.user_name) %></p>
      <p>Title: <%= review.title %></p>
      <p>Review: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p><br>
    </section>
  <% end %>
</section>
</section>