<section class="book" id="book-<%= @book.id %>">
  <h1><%= @book.title %></h1>
  <ul>
  <img src="<%= @book.book_cover_photo %>" alt="Book Cover Photo">
  <li>Author(s):</li>
    <% @book.authors.each do |author| %> <li><%= link_to author.name, author_path(author) %></li>
    <% end %>
  <li>Pages: <%= @book.pages %></li>
  <li>Publication Date: <%= @book.pub_date %></li>
  </ul>
</section>