<h1><%= @user %>'s page</h1>

<% @reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <p>Rating: <%= review.rating %></p>
    <p><%= review.content %></p>
  </section>
<% end %>
