<h3>Add a review:</h3> 
<%= form_for [@book, @review] do |f| %>
  <%= render :partial => "error_message", locals: {object: @review} %>
  <p>
    <%= f.label :title, "Review Title"%>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.number_field :rating, min: 1, max: 5 %>
  </p>
  <p>
    <%= f.label :content, "Review" %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :user_name, "Username" %>
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.submit %>
<% end %>
